- let homeTitle = "PUG - Template Engine"
- let prodTitle = "PUG - Product Template"
- let youAreUsingPug = true
- let user = { name: "Ludovic", loggedIn: true }
- const navItems = [ { url: "test.html", label: "Home" }, { url: "products.html", label: "Products" }, { url: "contact.html", label: "Contact" } ]
